*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 1rem 0rem;
   
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 40; */
    
  }

  body {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
 

.logo {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #1e1e1e;
    cursor: pointer;
    width: 90%;
  }
  
  nav {
    width: 30%;
  }
  
  nav.navbar > ul {
    display: flex;
    justify-content: space-around;
  }
  
  li.link {
    list-style: none;
  }
  
  .link a {
    color: #1e1e1e;
    text-decoration: none;
    cursor: pointer;
    display: flex;
   
  }


  /* Body */

  /* .input-contents{
    background: red;
    
  } */

  .profile_wrapper{
    background:  #3D39B3;
    color: white;
    border-radius: 1rem;
    margin-top: 1rem;
    width: 90%;
    max-width: 50vw;
    /* height: 80vh; */
  }

  .profile_wrapper h1{
    padding-top: 2rem;
    text-align: center;
    /* padding-top: 2rem; */
    /* background: red; */
  }


  .inputs{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center ; */
    margin-top: 1rem;
    /* background: green; */
    width: 80%;
    
  }

  .input_div{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

label{
    margin-left: 0;
    font-size: 0.8rem;
    
}


  input{
    width: 100%;
    height: 2rem;
    outline: none;
  }



 button{
    margin-top: 1.5rem;
    width: 6rem;
    height: 2rem;
    background: transparent;
    display: block;
    border: 2px solid white;
    color: white;
    cursor: pointer;
 }

 #signinText{
    display: flex;
    margin-top: 1rem;
 }


 #signinText a{
    color: white;
 }


 #forgotPassword{
    color: white;
    text-decoration: none;
    display: flex;
    margin-top: 1rem;
 }