*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.our-services{
    height: 863px ;
    width: 1920px;
    background-color: #3D39B3;
}
/* 
Font family ==> Roboto

Color ==> Primary = #3D39B3; white = #F9F9F9; links and logo = #1E1E1E;
 gradient color = #0803A2, #284CC4, #04006E; form placeholder = #A5A5A5;
 footer text = #FFFFFF; footer background = #3D39B3

*/
